.template {

    /* background-color: blue; */
    background-size: cover;

    width: 100%;


}

.fle-row {
    width: 100%;
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}